body {
    background-color: darkgray;
}
.workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40%;
    align-content: center;
    margin: 50px;
    row-gap: 30px;
}
section {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 50px;
}
h1 {
    font-size: 32pt;
    padding: 25px;
}
h4 {
    font-size: 20pt;
}
button {
    padding: 10px;
    border-style: none;
    background-color: white;
}
p, button {
    font-size: 12pt;
}
p, h4 {
    margin-left: 20px;
    margin-right: 20px;
}
h3 {
    font-size: 16pt;
    padding: 50px;
}
.workGrid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline-style: solid;
    outline-color: black;
}
.case1, .case2 {
    outline-style: solid;
    outline-color: black;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    /*css styles for grid template area here */
        body {background-color: #CF9D9D;}
        .workGrid {
            grid-template-rows: 300px 300px;
            grid-template-columns: 1fr 1fr;
            margin: 0px 5%;
        }
        section {
            margin: 0px 5%;
        }
    }